.app-help {
  display: block;
  max-width: 815.2px;
  margin: 6em auto;
  animation: mic-drop 0.75s; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
}

img{
  margin-left: 200px;
}


